= form_for [@question, Response.new], remote: true do |f|
  %ul.list-group
    - @question.answers.each do |answer|
      %li.list-group-item.clickable{id: "answer_#{answer.id}"}
        = f.radio_button :answer_id, answer.id
        = f.label :answer_id,
                  answer.character.name,
                  value: answer.id,
                  class: 'answer-label'

  = f.submit "Submit", disabled: true, class: "btn btn-success"

  = link_to "Try another",
            question_path,
            id: 'try-again',
            class: "btn btn-primary hidden"

  %h4#result