.row
  %blockquote
    %h3
      = @question.quote
    %footer
      = @question.correct_character.name
  %ul.list-group
    - @question.answers.each do |answer|
      %li.list-group-item{class: "#{answer_class(@question, @response, answer)}"}
        %span
          = answer.character.name
  %h3= flash[:notice]
  = link_to "Try another", question_path, class: "btn btn-primary"